body {
  margin: 0px;
  padding: 0px;
  background-image:"";
}
body{
  background-image:url("profilekiimg.jpg");
}

.vignanLogo img {
  width: 900px;
  height: auto;
  padding-left: 25%;
}

aside {
  float: left;
}
.collapse-navbar-collapse .navbar-nav .nav-item{
  font-size: 23px;
  font-weight: bolder;
}
.collapse-navbar-collapse .navbar-nav .nav-item  .nav-link::hover{
  color: red;
  text-decoration: underline;
}


.sidebar ul li {
  font-style: italic;
  font-weight: bold;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.about {
  width: 80%;
  margin: auto;
  margin-left: 12%;
  text-align: center;
  padding-top: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  line-height: 20px;
}

.about-col {
  transition: transform 1s;
  width:25%;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 7px 7px 29px 0px;
  border-radius: 12px;
  position: relative;
  background: white;
  margin: 2%;
}
.about-col button{
  display:none;
}

.about-col:hover{
  transform: scale(1.3,1.3);
  z-index: 1;
  position:relative;
}
.about-col:hover button{
  display:inline;
  background-color: rgb(19, 184, 41);
  border-radius: 23%;
  border: 2px solid black;
}

.image img {
  width: 50%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.about h3 {
  font-family: "Alegreya Sans SC", sans-serif;
}

.about-col p {
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  border-radius: 2.8rem;
  margin: 10px;
  z-index: -1;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  font-family: "Alegreya Sans SC", sans-serif;
}
.header{
  color: red;
  font-size:25px; 
  height:42px; 
  background-color: aqua;  
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content:center ;
}

.icon{
  color: aqua;
  float: right;
  font-size: 45px;
}
.profile h4 a{
  display: inline;
  align-items:center;
  justify-content: baseline;
  margin-top: 25px;
  padding: 30px 0 23px 0; 
  font-size:34px; 
  text-decoration: none;
  color: red;
}
.profile h4 a:hover{
  color: black;
  text-decoration: underline;
}
main {
  background: url(../Images/ug.png);
  z-index: -10;
}

marquee{
  padding-top: 12px;
}

@media screen and (max-width: 540px) {
  .about {
    width: 95%;
    margin: auto;
  }

  .about p {
    padding: 0px;
    margin: 2px;
    font-size: 16px;
  }

  .about-col {
    width: 27%;
  }
}

@media screen and (max-width: 360px) {
  .about {
    width: 95%;
    margin: auto;
  }

  .about p {
    padding: 0px;
    margin: 1.4px;
    font-size: 15px;
    letter-spacing: -0.01rem;
  }

  .about-col {
    width: 28%;
    border-radius: 4px;
    margin: 1.3%;
  }

  .about h3 {
    font-size: 17px;
  }

  .about h1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 400px) {
  .one-line {
    display: none;
  }
}
